@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700&amp;subset=japanese" rel="stylesheet">
    <link href="/css/banner.css" rel="stylesheet">
    <script src="~/js/bundle.js"></script>
</head>
<body>
    <div class="titlecard" id="titleCard">
        <img class="image" id="logo" src="https://via.placeholder.com/128/FF69B4/FFBB00">
        <span class="upper" id="title">これがタイトルです！</span>
        <span class="lower" id="subtitle">This is the subtitle!</span>
    </div>
</body>
</html>