@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae sem accumsan, eleifend erat vitae, blandit mauris. Vivamus rhoncus congue quam, ut elementum ipsum laoreet eget. Pellentesque ac enim quam. Ut pulvinar a leo eu auctor. Praesent consequat, erat eu finibus euismod, risus magna aliquam orci, sed feugiat neque mauris at orci. Sed et dictum turpis. Sed efficitur arcu fermentum ante consequat, id consectetur felis dignissim. Aenean auctor quis augue pellentesque feugiat. Etiam et dapibus enim. Praesent dapibus metus suscipit tellus malesuada pharetra non sed sem. Donec mollis nec ex eget mollis. Ut convallis ullamcorper augue, at pellentesque eros mattis vitae. Vestibulum et eros lectus. Curabitur fermentum tortor nunc, nec posuere mi iaculis at.
    </p>
    <p>
        Vivamus sollicitudin mauris id ante consectetur volutpat. Maecenas risus massa, efficitur sit amet dui quis, venenatis euismod tortor. Quisque quis nisi neque. Praesent ut risus sed est elementum vehicula ut eget ligula. Mauris in nisl dui. Suspendisse dignissim mauris ut sapien faucibus aliquet. Sed suscipit, tortor non semper maximus, risus metus porta lorem, sed pretium sem diam et dui. Mauris vitae ante et velit tempor gravida vel et orci. Etiam porta, leo quis condimentum ultrices, massa libero posuere lectus, vel tempor mauris est vitae ex. Quisque accumsan, tellus a auctor consequat, purus felis ultrices quam, at faucibus ante sapien fermentum leo. Sed non blandit nunc. Ut et lacus quis nunc efficitur fermentum ut eget quam. Etiam ac velit non est interdum accumsan. Fusce porta luctus dolor, ut maximus diam euismod nec.
    </p>
    <p>
        Proin id nibh dignissim, aliquam odio eget, ultricies felis. Proin vitae est et dui commodo pharetra. Cras in ipsum sapien. Sed ac sollicitudin nulla, at aliquet nulla. Integer sed aliquam nibh, non dictum libero. Sed vitae quam metus. Vestibulum vestibulum nunc ac lectus venenatis gravida. Nullam elementum hendrerit ultricies. Vestibulum fermentum tincidunt dui quis consequat. Sed et malesuada erat, sit amet elementum velit. Vivamus id libero vel sapien lobortis sodales placerat quis ex.
    </p>
</div>
